* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --navfooter: #232536;
  --main: #ffffff;
  --btns: #ffd050;
  --mediumgey: #6d6e76;
  --darkgrey: #4c4c4c;
}

@font-face {
  font-display: swap;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sen-v9-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter normal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter fiveh";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter sixh";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter nineh";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v18-latin-900.woff2") format("woff2");
}

.login {
  border: 1px solid var(--navfooter);
  width: 400px;
  height: 500px;
  background: url("../images/istockphoto-511061090-612x612.jpg");
  color: var(--main);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 50px auto 0 auto;
}
form {
  display: block;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(40%);
  flex-direction: column;
  display: flex;
  gap: 5px;
}
h2 {
  font-family: "Sen";
  font-size: 48px;
  line-height: 64px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 10px;
  font-family: "Inter fiveh";
}
input {
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  border: none;
  margin-bottom: 20px;
  color: var(--main);
}
.button {
  background: rgb(45, 126, 231);
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  border: none;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: var(--main);
  cursor: pointer;
}
.errorUser,
.errorPassword {
  font-size: 15px;
  color: #b71c1c;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: none;
}
.loaderbox {
  display: none;
}
.loaderbox-block {
  display: block;
}
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #23253681;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .login {
    border: 1px solid var(--navfooter);
    width: 400px;
    height: 500px;
    background: url("../images/istockphoto-511061090-612x612.jpg");
    color: var(--main);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 50px auto 0 auto;
  }
  form {
    padding-top: 0;
  }
}
@media screen and (max-width: 401px) {
  .login {
    border: 1px solid var(--navfooter);
    width: 250px;
    height: 400px;
    background: url("../images/istockphoto-511061090-612x612.jpg");
    color: var(--main);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 50px auto 0 auto;
  }
}
